<div id="cprow" class="row">
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content teal-text">
                <p class="center-align flow-text">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/cn/88x31.png" /></a><br />
                    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"> 该文 </span> 由 <a xmlns:cc="http://creativecommons.org/ns#" href="mailto:changweihua@outlook.com" property="cc:attributionName"
                        rel="cc:attributionURL">常伟华</a> 创作。
                    <br />采用 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享 署名-相同方式共享 3.0 中国大陆 许可协议</a>进行许可。
                </p>
            </div>
            <div class="card-action">

            </div>
        </div>
    </div>
</div>