<div id="actionBarr" class="fixed-action-btn hide-on-small-only" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large teal darken-1">
            <i class="large mdi-action-dashboard" style="-webkit-animation: pulsecircle .8s linear infinite;animation: pulsecircle .8s linear infinite;"></i>
          </a>
    <ul>
        <li><a class="btn-floating cmdSave" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;" target="_blank"><i class="large mdi-content-save"></i></a></li>
        <li><a class="btn-floating cmdPrint" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;" target="_blank"><i class="large mdi-action-print"></i></a></li>
        <li><a id="totop" class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-vertical-align-top"></i></a></li>
        <li><a class="btn-floating red" href="/" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-action-home"></i></a></li>
    </ul>
</div>