<div id="intromd" class="modal bottom-sheet">
    <div class="modal-content" style="max-height:120%;">
        <h4>
            <blockquote style="border-left:5px solid #009688;">
                网站说明
            </blockquote>
        </h4>
        <p class="flow-text">
            Life always has many things to bring you down. But, what can really bring you down is your attitude.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
</div>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 m12 s12 hide-on-small-only">
                <h5 class="white-text">不吐不快</h5>
                <p class="grey-text text-lighten-4">人生中会有很多事情把我们击败，但真正打垮我们的其实是我们自己的态度。 ​​​​
                    <!--<div id="clock" class="light"> 
                        <div class="display"> 
                            <div class="date"></div> 
                            <div class="digits"></div> 
                        </div> 
                    </div>-->
                </p>
            </div>
            <div id="contact_zone" class="col l3 m12 s12">
                <h5 class="white-text">联系方式</h5>
                <ul>
                    <li><a class="white-text" class="c qq" href="#!">QQ : 1134255297</a></li>
                    <li><a class="white-text" class="c weibo" href="http://weibo.com/cmono">新浪微博 : @@MetroXCode</a></li>
                    <li><a class="white-text" class="c skype" href="#!">Skype : changweihua@@outlook.com</a></li>
                </ul>
            </div>
            <div class="col l3 m12 s12">
                <h5 class="white-text">CMONO.NET, Inc.</h5>
                <ul>
                    <li><a class="white-text" class="c address" href="#!">江苏省 无锡市 新吴区, 214028</a></li>
                    <li><a class="white-text" class="c mobile" href="#!"><abbr title="手机号码">P:</abbr> 185 **** ****</a></li>
                    <li><a class="white-text" class="c email" href="mailto:changweihua@@cmono.net">changweihua@@cmono.net</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="teal-text text-lighten-3" href="/">Weihua Chang</a>&ensp; © 2009-2019 &ensp;CMONO.NET Executing &ensp;&ensp; 0.0821 S / Cost 3.31MB
            <a class="grey-text text-lighten-4 right modal-trigger" href="#intromd">网站说明</a>
        </div>
    </div>
</footer>

<div id="tx-live-lang-container" class="txlive-langselector txlive-langselector-bottomright hide-on-small-only">
    <ul id="tx-live-lang-picker" class="txlive-langselector-list notranslate">
        <li data-value="en">English</li>
        <li data-value="cs">Čeština</li>
        <li data-value="fr">Français</li>
        <li data-value="pt">PortuguêsPortuguêsPortuguêsPortuguêsPortuguêsPortuguêsPortuguês</li>
        <li data-value="ru">Русский</li>
        <li data-value="es">Español</li>
    </ul>
    <div class="txlive-langselector-toggle notranslate" id="tx-live-lang-toggle">
        <span class="txlive-langselector-current" id="tx-live-lang-current">站内公告</span>
        <span class="txlive-langselector-marker"></span>
    </div>
</div>