<div class="row hide-on-small-only">
    <div class="col s12">
        <div class="slider">
            <canvas id="rectcanvas" style="position: absolute;z-index: 100;width: 100%;height: 100%;pointer-events: none;"></canvas>
            <ul class="slides">
                <li>
                    <img style="width: 100%;height:100%;" src="/banner/左转，去看一看大海.jpg" alt="左转，去看一看大海.jpg" />
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>左转，去看一看大海</h3>
                        <h5 class="light white-text text-lighten-1">左转，去看一看大海</h5>
                    </div>
                </li>
                <li>
                    <img style="width: 100%;height:100%;" src="/banner/程序员，我们都是夜归人.jpg" alt="程序员，我们都是夜归人.jpg" />
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>程序员，我们都是夜归人</h3>
                        <h5 class="light white-text text-lighten-1">程序员，我们都是夜归人</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>