<div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="togglePanel">
  <ul class="layui-tab-title">
    <li class="layui-this">网站设置</li>
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item layui-show">@ViewBag.LoginName</div>
  </div>
</div>